html
    head 
        title=titulo
    body 
        div.container 
            p Crear Usuarios
            input(type="text" placeholder="email" id="email")
            br
            input(type="password" placeholder="password" id="password")
            br
            input(type="text" placeholder="Nombre Usuario" id="nombreUsuario")
            br
            input(type="text" placeholder="Categoría Usuario" id="categoriaUsuario")
            br
            button(id="btn_signup") Sign up
            hr
        div.container 
         	 	 	 	 	 	 	 
            p Crear Incidencias
            input(type="text" placeholder="usuario_creador" id="usuario_creador")
            br
            input(type="text" placeholder="usuario_asignado" id="usuario_asignado")
            br
            input(type="text" placeholder="estado_incidencia" id="estado_incidencia")
            br
            input(type="text" placeholder="categoria_incidencia" id="categoria_incidencia")
            br
            input(type="date" placeholder="fecha_creacion" id="fecha_creacion")
            br
            input(type="date" placeholder="fecha_final" id="fecha_final")
            br
            input(type="text" placeholder="nombre_incidencia" id="nombre_incidencia")
            br
            input(type="text" placeholder="descripcion" id="descripcion")
            br
            button(id="btn_CrearIncidencia") Crear Incidencia
    script(src="funciones.js") 